html,
body {
  padding: 0;
  margin: 0;
}
.row {
    line-height: 61px !important;
  }
  .logo img {
    float: left;
    border-right: 1px #e6e6e6 solid;
  }
  .header {
    margin: 5px 0;
  }
  .el-menu-demo {
    float: right;
  }
  .el-input__inner {
    border: 1px transparent solid !important;
  }
  .more {
    margin-left: 15px;
  }
  .el-icon-plus{
    cursor:pointer;
  }